@model CourseViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Courses</h5>
                
                <table class="table table-striped">
                    <thead>
                    <tr>
                            <th>Image</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>
