@model List<CourseViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Courses</h5>
                
                @if (Model.Any())
                {
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Course Name</th>
                            <th>Price</th>
                            <th>Duration</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.Feature.Duration</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-danger">
                        registered course not found
                    </div>
                }
            </div>
        </div>

    </div>
</div>
